.suggestion-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0px;
  padding: 0px;
}
.artist-suggestions {
  display: flex;
  /* border: 2px solid green; */
  flex-wrap: wrap;
  /* justify-content: center; */
  margin: 0px;
  padding: 0px;
}

.history-toggle {
  cursor: pointer;
  border-top: 2px solid rgb(80, 87, 122);
  border-left: 2px solid rgb(80, 87, 122);
  border-right: 2px solid rgb(80, 87, 122);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: fit-content;
  background-image: linear-gradient(rgb(45, 45, 66, 0), rgba(45, 45, 66));
}
.history-toggle-wrapper {
  background-image: linear-gradient(rgb(45, 45, 66), rgba(27, 27, 35, 0));
  border-top-right-radius: 10px;
}

.YML-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
