.you-might-like-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-image {
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
