.artist-bubble {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: stretch;
  width: 205px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #181818;
}

/* .artist-bubble {
  margin-bottom: 25px;
} */

.artist-bubble :hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #476e28;
}

.artist-bubble :hover .artist-card {
  border: 2px solid #5b5baa;
  -webkit-box-shadow: 5px 5px 20px 5px #38385f;
  box-shadow: 5px 5px 20px 5px #38385f;
  background-color: #476e28;
}

.artist-bubble :not(:hover) {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.artist-bubble a {
  text-decoration: none;
}

.artist-card {
  /* background-color: #2c3128; */
  position: relative;
  color: white;

  padding-bottom: 50px;
}
.artist-card:last-child {
  margin-top: auto;
}

.artist-info {
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.artist-name {
  margin: 0px;
}

.artist-image-container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.artist-image-container:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  cursor: pointer;
}
.artist-image {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}
/* .artist-image:hover {
  transform: scale(1.1);
} */
.genres {
  /* flex-grow: 1; */
}

.spotify-link {
  position: absolute;
  bottom: 0;
}
