.socials-container {
    color: #918d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .button-container {
    padding-left: 0.5em;
    padding-right: 0.5em;
    z-index: 2;
  }
  
  .button-container :hover svg {
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transform-origin: center;
            transform-origin: center;
    color: #27ae60;
  }
  
  .button-container :not(:hover) {
    -webkit-transition: all 0.05s;
    transition: all 0.05s;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  
  .contact-button {
    color: #918d8d;
  }
  
  .contact-button a:visited {
    text-decoration: none;
  }