.genre-container {
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  pointer-events: none;
}
.genre-tag {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  /* background-color: #045471; */
  border: 2px solid rgb(185, 181, 181);
  /* padding-right: 1em; */
}
