.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //   padding-top: 3rem;
    height: 7rem;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
  }
  