.layout-container {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.headroom {
  /* display: flex;
  justify-content: center; */
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
}
