.navBar {
  /* border: 2px solid red; */
  background-image: linear-gradient(rgb(45, 45, 66), rgba(27, 27, 35, 0));
  /* background: radial-gradient(at 50% 0%, rgb(45, 45, 66), rgba(27, 27, 35, 0)); */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  /* justify-content: space-between; */
  max-width: 1250px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.mainNav {
  color: white;
  display: flex;
  align-items: center;
}
.headerLinks {
  display: flex;
  /* width: 250px; */
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid green; */
  /* justify-content: center; */
  /* height: 1000px; */
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #27ae60;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
